<div class="main">
  <h1>My To-do List</h1>
  <!-- Input for adding new tasks -->
  <label for="addItemInput">What would you like to do today?</label>
  <input
    required
    #newItem
    id="addItemInput"
    placeholder="Add a task..."
    class="lg-text-input"
    (keyup.enter)="newItem.value && addItem(newItem.value); newItem.value=''"
    pattern="/[a-zA-Z0-9]+$/"
>


  <!-- Button to add a new task -->
  <button class="btn-primary" (click)="addItem(newItem.value);newItem.value=''">Add</button>
  <div><p class="alert-container" *ngIf="errorMessage">
    Enter a Valid Task
  </p></div>
 
</div>


<div class="btn-wrapper">
  <!-- Button to show all tasks -->
  <button 
    class="btn btn-menu"
    [class.active]="filter == 'all'"
    (click)="filter='all'"
  >
    All
  </button>
  
  <!-- Button to show to-do tasks -->
  <button
    class="btn btn-menu"
    [class.active]="filter == 'active'"
    (click)="filter = 'active'"
  >
    To Do
  </button>
  
  <!-- Button to show done tasks -->
  <button
    class="btn btn-menu"
    [class.active]="filter == 'done'"
    (click)="filter = 'done'"
  >
    Done
  </button>
</div>




<h2 [style.text-align]=" 'center'">
  {{items.length}}
  <span *ngIf="items.length===1; else elseBlock">Item</span>
  <ng-template #elseBlock>Items</ng-template>
</h2>

@if(items.length>0){
<ul class="list-class"  >
  
  <li *ngFor="let i of items">
    <!-- App-item component for each task -->
    <app-item (remove)="remove(i)" [item]="i"></app-item>
  </li>
</ul>
}
@else{
  <div  class="empty-message">
    <p>No tasks added yet. Start adding tasks to your list!</p>
  </div>
}






